html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.page-wrapper{
    /*The page-wrapper occupies at least the entire page*/
    width: 100vw;
    min-height: 100%;
    box-sizing: border-box;

    /*Definig the font for the entire page*/
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

/*Below are the grid-items of .page-wrapper*/
/*Each of those grid items will be a grid of its own*/
.header{
    grid-column: 2;
    grid-row: 1;
    background-color: white;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;

    row-gap: 16px;
    margin-bottom: 16px;
}

.header-upper{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.search-bar{
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    column-gap: 16px;
}
.search-bar>input[type="search"]{
    appearance: none;
    height: 30px;
    width: 500px;
    text-indent: 8px;
    background-color: lightgray;
    border: none;
    border-radius: 15px;
}

.search-bar>input[type="search"]:focus{
    appearance: none;
    background-color: white;
}

.user-options{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    margin-right: 24px;
    column-gap: 16px;
}

.header-lower{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.user-info{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    margin-left: 24px;
    column-gap: 16px;
}

.user-info>img{
    grid-column: 1;
    grid-row: 1 / 3;
}

.user-info>.status{
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.user-info>.name{
    grid-column: 2;
    grid-row: 2;
}

.content-buttons{
    margin-right: 24px;
}

.content-buttons>button{
    appearance: none;
    border: none;
    height: 1.8rem;
    width: 5rem;
    border-radius: 18px;
    background-color: lightskyblue;
}
/*adjusting both profile images*/
.header-upper img[alt="Profile Picture"]{
    max-height: 50px;
    max-width: auto;
}

.header-lower img[alt="Profile Picture"]{
    max-height: 70px;
    max-width: auto;
}

.main-content{
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: #CBD5E1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

/*Defining fonts for descriptive text*/
.description{
    font-size: 1rem;
    color: grey;
}

.project-container{
    grid-column: 1;
    grid-row: 1 / 3;
    margin-left: 24px;
    margin-right: 16px;
    margin-bottom: 16px;

    display: grid;
    grid-template-rows: auto 1fr;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
    align-content: start;
    gap: 16px;
}

.project-container h2{
    grid-row: 1;
}

.project{
    background-color: white;
    border-radius: 8px;
    border-left: 8px solid orange;
    padding: 8px;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.project-title{
    margin-top: 8px;
    margin-bottom: 4px;
}

.project-buttons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    justify-content: end;
}

.project-buttons button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.project-buttons button:hover{
    cursor: pointer;
}

.announcement-container{
    grid-column: 2;
    grid: 1;

    margin-right: 16px;
}

.announcement-title{
    margin-top: 4px;
    margin-bottom: 2px;
}

.announcement-list{
    background-color: white;
    border-radius: 12px; 
    padding: 24px;

    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 8px;
}

/*A bottom border for all announcements except the last one*/
.announcement:not(:last-child){
    border-bottom: solid thin lightgrey;
    padding-bottom: 12px;
}

.trending{
    grid-column: 2;
    grid-row: 2;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #FB7185;

    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, max-content);
    row-gap: 32px;
    justify-content: start;
}

/*Below are nested grids for the sidebar*/
.sidebar .title{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    align-content: center;
    gap: 16px;

    margin-left: 12px;
    margin-right: 24px;
    margin-top: 16px;
}

/*sidebar-options are divided into basic and advanced options boht of which are grid containers*/
.basic-sidebar-options{
    display: grid;
    height: max-content;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, max-content);
    gap: 8px;
}

.advanced-sidebar-options{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    gap: 8px;
}

.sidebar-option{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    column-gap: 16px;
    font-weight: 500;
}

.sidebar-option img{
    justify-self: end;
}

.sidebar-option:hover ,
.title:hover h1,
.sidebar-option:hover .sidebar-option-text{
    color: white;
    cursor: pointer;
}

